.top{
    background-color: rgb(34, 32, 32);
    color: white;
    height: 10px;
    padding: 15px 0px 30px 60px; 
    font-size: 15px;  
}

.logo{
    padding: 10px 0px 5px 60px;
}
.nav1 li{
    /* display: inline; */
    float: right;
    list-style: none;
    padding: 0px 60px 0px 0px;
}

.box{
    background-color: rgb(131, 131, 131);
    color: azure;
    height: 250px;
    /* width: 100px; */
    text-align: center;
    margin: 50px 0px 0px 0px;
    padding: 100px 0px 0px 0px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: rgb(131, 131, 131);  
}

.box1{
    background-color: rgb(58, 58, 58);
    color: seashell;
    font-size: 15px;
    padding: 0px 0px 0px 0px;
}